jinja2<3.1.0
myst_parser
nbsphinx
sphinx-gallery<0.17.0
sphinx-argparse
sphinx-disqus
autodocsumm
ipykernel
protobuf
scanpy
sphinx-design
pydata-sphinx-theme
sphinx_tabs
git+https://github.com/Novartis/scAR.git
