jinja2<3.1.0
myst_parser
sphinx==5.1.1
nbsphinx==0.8.8
sphinx-gallery==0.10.1
sphinx-argparse==0.3.1
sphinx-disqus==1.2.0
autodocsumm==0.2.9
ipykernel==5.5.3
protobuf==3.20.*
anndata
scanpy
sphinx-design==0.2.0
pydata-sphinx-theme==0.9.0
git+https://github.com/Novartis/scAR.git